.shopTitle {
    width: 90vw;
    margin-top: 100px;
    text-align: center;
    font-size: 40px;

}

.products{
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.product{
    border-radius: 15px;
    width: 130px;
    height: 150px;
    margin: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;;

}
.product img{
    width: 350px;
}
.product .description {
    text-align: center;
}

.product:hover{
    transition: 0.3s ease-in;
    cursor: pointer;
}
.addToCartBtn{
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 5px 10px;
    border-radius: 15px;
}
.addToCartBtn:hover{
    background-color: rgb(255, 229, 84);
    transition: 0.8s;
}
