* {
    font-family: Arial, Helvetica, sans-serif;

}

.hero {
    display: flex;
    width: 100vw;
    margin: 1px;
    margin-bottom: 100px;
}

.sidebar {
    width: 210px;
    background-color: rgb(242, 242, 247);
    border-right: 2px solid rgb(204, 204, 223);
    padding-left: 25px;
    padding-top: 20px;
}

.sidebar__header {
    font-size: 14px;
    font-weight: 600;
    margin: 5px -5px;
}

.sidebar li {
    list-style: none;
    padding: 1px 0;
    transition: all 0.1s;

}

.sidebar li:hover {
    color: rgb(207, 143, 22);
    cursor: pointer;
}


/*   GRID  */
.featured {
    width: 80vw;
    display: grid;
    grid-template-columns: 725px 1fr;
    grid-template-rows: 200px 200px;
}

.featured__left-one {
    max-width: 80vw;
    grid-column: 1/2;
    grid-row: 1/2;
}

.featured__left-two {
    max-width: 80vw;
    grid-column: 1/2;
    grid-row: 2/3;
}

.featured__right {
    grid-column: 2/3;
    grid-row: 1/3;
}

.img {
    object-fit: cover;
    opacity: 0.92;
}

.img1 {
    width: 80%;
    height: 100%;
}

.img2 {
    width: 80%;
    height: 100%;
}

.img3 {
    width: 100%;
    height: 100%;
}



.link-rel {}

.btn {
    background-color: rgb(235, 242, 245);
    border: 1px solid rgb(224, 224, 235);
}


.btn:hover {
    cursor: pointer;
}

.shop-title {
    width: 20px !important;
    height: 20px;

}

@media (max-width: 720px) {
    .img1 {
        max-width: 19rem;
    }

    .img2 {
        max-width: 19rem;
    }

    .img3 {
        display: none;
    }
}

@media (max-width: 540px) {

    .img1 {
        width: 100vw;
        max-width: 100vw;
    }

    .img2 {
        width: 100vw;
        max-width: 100vw;
    }

    .img3 {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .featured__left-one {
        width: 100vw;
    }

    .featured__left-two {
        width: 100vw;
    }

}