

.navbar{
    width: 100vw;
    height: 60px;
    display: flex;
    background-color:rgb(9, 9, 20);
    justify-content: flex-end;
    align-items: center;
    
}

.sub-nav {
    width: 100vw;
    height: 40px;
    background-color:rgb(17, 17, 36)
}

.links{
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.links a{
    color:white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    
}    

.footer{
    background-color: rgb(19,19,19);
    padding:30px;
    display: flex;
    align-items: flex-end;
    color:aliceblue;
}

a{
    text-decoration: none;
    color:cornflowerblue;
}
.footer h3{
    display: inline-block;
    margin: 5px;
   align-items: center;
}

#nav-logo {
    margin-left: 30px;
    height: 40px;
    transform: scaleX(2);
    color: white;
    list-style: none;
    line-height: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nav-logo:hover {

    cursor: pointer;
}

.nav-logo__click {
    color: red;
    .nav-logo:nth-of-type(2) {
       display: none;
    }
    background-color: blue;
}